/* CSS file for Bootstrap Assignment-1 (Himanshu Setia) */

.formTitleBackground {
    background-color: #48b5e3;
}

.tableTitleBackground{
    background-color: #00e600;
}

.tableArticleBackgroud {
    background-color: #e6ffe6;
}

.tableBodyBackground {
    background-color: white;
}